/*  your css code here. If applicable */
table, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.green {
  background-color: green;
  color: white;
}

.blue {
  background-color: blue;
  color: white;
}
