table {
  width: 90%;
  margin: auto;
  border-collapse: collapse;
}

td {
  padding: 5px;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.green {
  background-color: green;
  height: 20px;
}

.blue {
  background-color: blue;
  height: 20px;
}

.middle {
  text-align: center;
}
